* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a, a:visited {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

.container {
  margin: 0 auto;
  max-width: 1300px; }

header {
  padding-top: 85px;
  padding-bottom: 200px;
  background-color: #f2ebe6; }

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px; }

.logo {
  font-family: "Roboto-Light";
  font-size: 48px;
  line-height: 24px;
  color: #303437; }
  .logo .logo-bold {
    font-family: "Roboto-Medium";
    font-size: 48px; }

nav {
  max-width: 430px; }
  nav a {
    margin-right: 25px;
    font-family: "Gotham-Medium";
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase; }
    nav a:last-child {
      margin-right: 0; }

.user-buttons {
  font-family: "Gotham-Medium";
  font-size: 14px;
  color: #212121;
  text-transform: uppercase; }
  .user-buttons a {
    color: #212121; }
  .user-buttons .fa-search {
    margin-right: 20px;
    color: #a77c5a; }
  .user-buttons .fa-shopping-bag {
    margin-right: 10px;
    color: #a77c5a; }

.top-header-sunglasses {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.women,
.men {
  width: 630px;
  text-align: center; }

.women-title-light,
.men-title-light {
  display: inline-block;
  font-family: "Gotham-Light";
  font-size: 140px;
  color: #fff;
  text-transform: uppercase; }

.women-title-bold,
.men-title-bold {
  display: inline-block;
  font-family: "Gotham-Bold";
  font-size: 140px;
  color: #fff;
  text-transform: uppercase; }

.women-sunglasses,
.men-sunglasses {
  margin-top: -40px;
  margin-bottom: 90px; }

.dioptric-sunglasses {
  position: relative;
  font-family: "Gotham-Medium";
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a77c5a; }
  .dioptric-sunglasses .dioptric {
    margin-right: 20px; }
    .dioptric-sunglasses .dioptric::after {
      position: absolute;
      top: 1px;
      left: 83px;
      content: '';
      width: 1px;
      height: 14px;
      background-color: #a77c5a; }

.news-and-features {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -100px; }

.vertical-text {
  position: absolute;
  top: 90px;
  left: -200px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  line-height: 24px;
  color: #212121; }
  .vertical-text::before {
    content: '';
    position: absolute;
    left: -40px;
    bottom: 55%;
    width: 20px;
    height: 1px;
    background-color: #212121; }

.vert-light {
  font-family: "Gotham-Regular";
  font-size: 24px; }

.vert-bold {
  font-family: "Gotham-Bold";
  font-size: 24px; }

.news-title {
  position: absolute;
  right: 70px;
  bottom: 150px;
  width: 275px;
  text-align: center;
  font-family: "Gotham-Bold";
  font-size: 30px;
  color: #fff; }

.button {
  position: absolute;
  right: 50px;
  bottom: 30px;
  padding: 30px 50px 30px 70px;
  border: 1px solid #fff;
  font-family: "Gotham-Bold";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase; }
  .button .fa-angle-right {
    margin-left: 70px; }

.news-item-1 {
  position: relative;
  width: 700px;
  height: 620px;
  overflow: hidden; }
  .news-item-1 img {
    position: absolute;
    left: -400px;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    z-index: 0; }

.news-item-2 {
  position: relative;
  width: 500px;
  height: 915px;
  overflow: hidden; }
  .news-item-2 img {
    position: absolute;
    left: -650px;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    z-index: 0; }

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  height: 250px;
  margin-top: 45px;
  border: 1px solid #a77c5a;
  font-family: "Gotham-Bold";
  font-size: 24px;
  color: #a77c5a;
  text-transform: uppercase; }

.free-shipping {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 100px 0 100px; }
  .free-shipping::after {
    position: absolute;
    right: -70px;
    content: '';
    width: 1px;
    height: 150px;
    background-color: #a77c5a; }

.truck-icon {
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: url(../../img/features-sprite.png); }

.free-return {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px; }

.return-icon {
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: url(../../img/features-sprite.png);
  background-position: 100% 50%; }

.worldwide {
  font-size: 14px;
  color: grey; }

.best-sellers {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 50px; }
  .best-sellers .vertical-text {
    top: 170px; }
  .best-sellers .button {
    position: absolute;
    right: 35%;
    bottom: -150px;
    color: #000;
    border-color: #000; }

.product-glasses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px; }
  .product-glasses:hover {
    cursor: pointer; }
    .product-glasses:hover .fa.fa-plus {
      display: block; }
    .product-glasses:hover .glasses-border {
      border: 20px solid #f2ebe6; }

.glasses-border {
  position: relative;
  width: 220px;
  height: 350px;
  margin-bottom: 20px;
  border: 20px solid #fff; }

.fa.fa-plus {
  display: none;
  position: absolute;
  left: 50%;
  color: #a77c5a;
  font-size: 24px; }

.glasses-name {
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 24px;
  color: #a77c5a;
  text-transform: uppercase;
  text-align: center; }

.glasses-price {
  margin-top: 20px;
  font-family: "Gotham-Bold";
  font-size: 30px;
  line-height: 24px;
  color: black;
  text-transform: uppercase; }

.new-arrivals {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px; }
  .new-arrivals .vertical-text {
    top: 170px; }
  .new-arrivals .button {
    position: absolute;
    right: 35%;
    bottom: -150px;
    color: #000;
    border-color: #000; }

.brands {
  margin-top: 250px;
  background-color: #e5e5e5; }

.brands-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 100px 0; }
  .brands-wrap .vertical-text {
    left: -160px;
    top: -30px; }

.brand-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.brand-image-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 270px;
  border: 1px solid #aaaaaa; }

.num-of-products {
  margin-top: 15px;
  font-family: "Gotham-Medium";
  font-size: 18px;
  line-height: 24px;
  color: #a77c5a; }

.bottom-news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.bottom-news-item {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden; }
  .bottom-news-item .bottom-news-image {
    position: absolute;
    left: -300px;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    z-index: -1; }
  .bottom-news-item .b-news-item-text {
    position: absolute;
    bottom: 120px;
    margin-bottom: 10px;
    font-family: "Gotham-Medium";
    font-size: 30px;
    color: #fff;
    text-align: center; }
  .bottom-news-item .button {
    right: 40px; }

.subscribe-email {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 150px; }
  .subscribe-email .vertical-text {
    left: -195px;
    top: 105px; }

.email-title {
  width: 650px;
  font-family: "Gotham-Medium";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #a77c5a; }

.email-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  height: 75px;
  border: 1px solid #f2ebe6; }
  .email-wrap input {
    width: 575px;
    height: 25px;
    padding: 25px 0 25px 25px;
    border: none; }
  .email-wrap input[placeholder] {
    font-family: "Gotham-Medium";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    outline: none; }
  .email-wrap .fa-paper-plane {
    padding: 29px;
    color: #a77c5a;
    background-color: #f2ebe6;
    border-left: none; }

footer {
  background-color: #f2ebe6; }

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 100px 0 0 90px;
  margin-bottom: 50px; }
  .footer-content li {
    font-family: "Gotham-Medium";
    font-size: 18px;
    line-height: 24px; }
    .footer-content li a {
      color: #b2b2b2; }

.footer-brands-title,
.otherinfo-title {
  margin-bottom: 30px; }
  .footer-brands-title .light,
  .otherinfo-title .light {
    margin-right: -5px;
    font-family: "Gotham-Light";
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #a77c5a; }
  .footer-brands-title .bold,
  .otherinfo-title .bold {
    font-family: "Gotham-Bold";
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #a77c5a; }

.otherinfo {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 0;
  border-top: 1px solid #a77c5a; }
  .footer-bottom .logo {
    color: #b8b3b0; }

.bottom-logo-1 {
  width: 200px;
  height: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin-left: auto; }

.bottom-logo-2 {
  width: 150px;
  height: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
